html {
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

.navbar {
    position: fixed;
    z-index: 99;
    padding-top: 0px;
    padding-bottom: 0px;
    top: -10px;
    right: 0px;
    left: 0px;
}

.navbar-nav {
    float: none;
    margin: 0 auto;
}

.jumbotron {
    padding-top: 110px;
    padding-bottom: 10px;
    align: center;
}

.column {
  float: left;
  width: 50%;
  padding: 0 5px;
}


/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.student {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 4px;
  text-align: left;
}

body {
    margin: 0 auto;
    padding: 0 10px;
    max-width: 900px;
    font-size: 14px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5em;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

.blib {
    max-width: 1400px;
    min-width: 1400px;
    font-size: 11px;
}



h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
    font-style: normal;
    font-weight: normal;
}

table {
  border-spacing: 0px
}

h2 {
    margin-top: 1.3em;
}


a {
    color: #000000;
    text-decoration: none;
}

a:hover {
   text-decoration: underline; 
}

samp {
    display: none;
}

.dynamic_link {
    font-size: 11px;
    line-height: 12px;
    display: inline-block;
    background-color:rgb(239, 249, 255);
    font-family:courier;
    display:none;
}

img {
    background: transparent;
    border: 0px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

.name {
  color: green;
  display: inline-block;
  font-weight: bold;
}

.row {
  padding-top:1px;
  padding-bottom:1px;
}

.rTableCell {
  padding-left:1px;
  padding-left:1px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
    top: .25rem;
    right: .25rem;
    padding: .25rem .25rem;
    border: 10;
    font-size:18px;
    border-radius: .5rem;
}

.sbtn {
    top: .25rem;
    right: .25rem;
    padding: .25rem .25rem;
    border: 10;
    font-size:12px;
    border-radius: .5rem;
}
